{% extends 'demo_app/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="login-section container my-5">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary button my-2" type="submit" value="login">
        <small class="text-muted ml-2">
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </small>
    </form>

    <p><b>Don't have an account ----- > </b><a class="button" href="{% url 'register' %}">register</a></p>
</div>

{% endblock %}