{% extends 'demo_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="POST" >
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
        <a class="btn btn-outline-danger" href="{% url 'user_delete' request.user.id %}" type="submit">Delete
            Account</a>
    </form>
</div>

{% endblock content %}